# Ignore object files
*.o
*.so
__pycache__/
*.pyc
*.patch
*.cmake
core
*.gch
libglyr.pc
doc/doc
doc/build
spec/provider/results/

# Ignore documentation, local working directory
child/

bin/

# Ignore CMake output
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# testoutput
test/out/*

# swig
*_wrap.c

# vim swap files
*.swp
*.swo
*.swn

#rmlint
rmlint.sh
rmlint.log
