/* general --------------------- */

p {
  font: 1.4em "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
}

ol li, ul li {
  font: 1em "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
}

p+p, p+ol, p+ul {
  margin-top: 0.7em;
}

a {
  color: #638fb2;
  padding: 4px 0;
  text-decoration: none;

  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
}

a:hover {
  color: #396482;
}

h1, h2, h3, h4, h5, h6 {
  color:       #222;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial;
  font-weight: 300;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h1+p {
  margin-top: 0.7em;
}

h2, h3 {
  text-shadow:   1px 1px 1px #fff;
}

sup {
  vertical-align: super;
  font-size: .5em;
}

aside p {
  color:         #999;
  font-family:   "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
  font-size:     1.2em;
  line-height:   1.3em;
}

del {
  display: none;
}

q:before {
  content: "\201C";
}

q:after {
  content: "\201D";
}

.group:after {
  visibility: hidden;
  display:    block;
  font-size:  0;
  content:    " ";
  clear:      both;
  height:     0;
}

::selection {
  background: #ef3e5b;
  color: white;
  text-shadow: none;
}

abbr[title*="Note well"] {
  font-family:    "Helvetica Neue", Helvetica, Calibri, Arial;
  font-weight: bold;
}

body {
  background-image: url('/images/background.png');
  color:            #666;
}

section#main {
  width:     100%;
  max-width: 1140px;
  min-width: 755px;
  margin:    0 auto;
  padding:   0 25px;
  font-size: 67.5%;
}

/* masthead --------------------- */

section#masthead p {
  float: left;
}

section#masthead h1 {
  font:        italic 2em "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
  float:       left;
  width:       39.45%;
  text-align:  right;
  padding-top: .75em;
  text-shadow: 1px 1px rgba(190, 190, 190, 0.6);
}

section#masthead header img {
  float:   right;
  padding-top: 15px;
}

section#masthead header p {
  font:          600 9em "atrament-web-1", "atrament-web-2";
  width:         57.5%;
  margin-bottom: 45px;
  line-height:   .9em;
}

section#masthead header p a {
  color:              #647c8d;
  text-shadow:        1px 1px 1px #aaa;
  text-decoration:    none;

  -webkit-transition-duration: 0;
  -moz-transition-duration:    0;
  -o-transition-duration:      0;
}


/* content --------------------- */

section#content {
  float: left;
  width: 65.4%;
}


/* sidebar  -------------------- */

section#sidebar {
  float: right;
  width: 30.75%;
}

section.meta {
  float: left;
  width: 42%;
}

section#meta-col1 {
  margin-right: 20px;
}

section#meta-col2 {
  padding-bottom: 100px;
}

nav#extra ul li, nav#site ul li {
  font-family:    "Helvetica Neue", Helvetica, Calibri, Arial;
  text-transform: uppercase;
}

.icon {
  padding:  3px 0 5px 28px;
  background-repeat: no-repeat;
}

aside {
  margin-bottom: 65px;
}

aside:last-child {
  padding-bottom: 0;
}

aside header h3, nav header h3 {
  font-size:      1.2em;
  padding-bottom: 15px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

nav ul li {
  font:     1.2em inherit;
  margin-bottom: 15px;
  font-size:     1.2em;
}

aside a, section.meta nav a {
  color:           #aaa;
  text-decoration: none;
  padding:         4px 0px;
}

section.meta:hover li.twitter {
  background-image: url('/images/twitter.png');
}

section.meta:hover li.rss {
  background-image: url('/images/rss.png');
}

section.meta:hover a {
  color: #71569E;
}

section.meta:hover a:hover {
  color: #4D2874;
}

/* post  ----------------------- */
section#posts ol:first-child > li {
  font: inherit;
  margin-bottom: 50px;
}

section#posts ol:first-child > li:last-child {
  margin-bottom: 0;
}

article a {
  text-shadow: 1px 1px white;
}

article p+p, article p+blockquote, article p+ul,
article p+ol, article ul+p, article ol+p,
article blockquote+p {
  margin-top: 1em;
}

article p+h2, article p+h3, article p+h4 {
  margin-top: 1.4em;
}

article header h2 {
  font-size:     2em;
  margin-bottom: 30px;
}

article header h2 a {
  color: #222;
}

article header h2 a:hover {
  color: inherit;
}

article blockquote {
  width:       475px;
  padding:     0 50px;
  text-indent: 25px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
}

article blockquote:before, article blockquote:after {
  color:     #ccc;
  width:     50px;
  display:   block;
  font-size: 700%;
}

article blockquote:before {
  content:       '\201C';
  margin-left:   -0.55em;
  margin-bottom: -50px;
}

article blockquote:after {
  content:     '\201D';
  margin-top:  -25px;
  margin-left: 475px;
}

article blockquote p, article blockquote ol li {
  font-style: italic;
}

article blockquote ol {
  padding-left: 25px;
}

article ol li {
  list-style: decimal inside;
  font-size:  1.4em;
}

article ul li {
  list-style: disc inside;
  font-size:  1.4em;
}

article footer {
  padding: 5px 0;
}

article footer p {
  font-size:   1.2em;
  margin-top:  1.4em;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial;
}

article footer:hover p a {
  color: #71569E;
}

article footer:hover p a[rel~=external] {
  background-image: url('/images/source.png');
}

article footer p a[rel~=alternate] {
  padding-top: 0;
}

article footer:hover p a[rel~=alternate] {
  background-image: url('/images/read-later.png');
}

article footer:hover p time {
  color:       #707070;
}

article footer p time {
  color:       #aaa;
  font-style:  italic;
  padding-top: 4px;
}

article footer p time {
  display: block;
  float: left;

  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;

}

article footer p a {
  color: #aaa;
  display: block;
  float: right;
}

section#posts>ol {
  margin-bottom: 50px;
}

/* pagination  ----------------------- */
nav#pagination ol li {
  list-style-type: none;
  float: left;
  margin: 0 5px;
}

section#focus {
  margin-bottom: 50px;
}

section#footer footer {
  border-top: #ccc solid 1px;
  padding-top: 25px;
  box-shadow: 0px -1px 1px white;
}

section#footer footer nav ul li {
  list-style-type: none;
  float: left;
  margin: 0 8px;
}

section#footer footer nav ul li:first-child {
  margin-left: 0;
}

section#footer footer nav {
  width: 65.4%;
  float: left;
  padding-top: 5px;
}

section#footer footer nav a {
  text-shadow: 1px 1px white;
}

section#footer footer p.copyright {
  float: right;
  width: 30.75%;
  text-align: right;
}

/* page  ----------------------- */

section#content h2 {
  font-size:     2em;
  margin-bottom: 25px;
}

section#content h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

p+h3 {
  margin-top: 0.7em;
}

section#content ul li {
  list-style: square inside;
  font-size: 1.4em;
}

@media screen and (max-width: 800px) {

  section.meta {
    float: none;
  }
}
