
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x left top;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
	list-style-image: url(images/img07.gif);
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#header{
	width: 940px;
	height: 240px;
	margin: 0px auto;
	background: url(images/img04.jpg) no-repeat left top;
}

#logo {
	float: left;
	width: 700px;
	height: 200px;
	margin: 0 auto;
	padding: 20px 10px;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	color: #393019;
}

#logo h1 {
	padding: 100px 0 0 0px;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 4.4em;
}

#logo p {
	text-transform: uppercase;
	padding: 140px 0 0 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #C8FFCC;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

#splash {
	float: right;
	width: 180px;
	padding: 30px 20px 20px 20px;
	line-height: 24px;
	color: #BED89F;
}

#splash h2 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

#menu-container {
	width: 940px;
	height: 110px;
	margin: 0px auto;
	background: url(images/img02.jpg) no-repeat left top;
}

/* Menu */

#menu {
	float: left;
	width: 720px;
	height: 110px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin: 0px;
	padding: 70px 20px 0px 20px;
	color: #FFFFFF;
}

#menu a:hover {
}

#menu .current_page_item a {
	padding-left: 10px;
}

#header-search {
	float: right;
	width: 220px;
	height: 110px;
	background: url(images/img03.jpg) no-repeat left top;
}

#search-input {
	border: none;
	background: none;
	padding: 72px 24px 0px 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img05.jpg) repeat-y left top;
}

#page-bgtop {
	background: url(images/img06.jpg) no-repeat left top;
}

#page-bgbtm {
	background: url(images/img07.jpg) no-repeat left bottom;
}

/* Latest Post */

#latest-post {
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 520px;
	margin-right: 20px;
	padding: 20px 0 0  0px;
}

.post {
	margin-bottom: 20px;
	padding: 10px 0;
	line-height: 200%;
	
}

.post h1 {
	font-weight: normal;
}

.title {
	margin: 0;
	padding: 10px 0 0 0px;
	font-size: 30px;
	font-weight: normal;
}

.title a {
	border-bottom: none;
	color: #4E8511;
}

.title a:hover {
}

.byline {
	margin: 0px;
	border-bottom: 1px solid #E5E5E5;
}

.entry {
	padding: 0px 0px;
}

.links {
	padding-top: 10px;
	text-align: left;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
	border-bottom: 1px dotted #CCCCCC;
}

/* Sidebars */

.sidebar {
	float: left;
	padding: 0;
	font-size: 11px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	margin: 0;
	padding: 0;
}

.sidebar li ul {
	margin: 0;
	padding: 0;
}

.sidebar li li {
	margin: 0;
	padding: 6px 0px;
}


.sidebar li h2 {
	margin: 0;
	padding: 20px 20px 0px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #C8FFCC;
}

#sidebar p {
}

#sidebar1 a, #sidebar2 a {
	color: #BED89F;
}

#sidebar1 {
	margin: 0;
	padding: 0;
	width: 180px;
}

#sidebar1 li ul {
	padding: 20px 20px;
	background: url(images/img08.jpg) no-repeat left bottom;
}


#sidebar2 {
	float: left;
	margin: 0;
	padding: 0;
	width: 220px;
}

#sidebar2 li ul {
	padding: 20px 20px;
	background: url(images/img09.jpg) no-repeat left bottom;
}


/* Search */

#searchform {
	margin: 0;
	padding: 0;
}

#searchform br {
	display: none;
}

#s {
	margin: 0 0px 0 15px;
	padding: 2px 2px;
	width: 90px;
	height: 18px;
	font-size: 10px;
	color: #CCCCCC;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
/* Calendar */

#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer {
	width: 940px;
	height: 55px;
	margin: 0 auto;
	border-top: 1px solid #CECECE;
}

#footer p {
	margin: 0;
	padding: 15px 0 0 0;
	text-align: center;
	font-size: 11px;
	color: #4E4E4E;
}

#footer a {
	color: #4E4E4E;
}
