<?xml version="1.0"?>
<!DOCTYPE refentry PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
               "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd"
[
  <!ENTITY % local.common.attrib "xmlns:xi  CDATA  #FIXED 'http://www.w3.org/2003/XInclude'">
]>
<refentry id="test-config">
<refmeta>
<refentrytitle role="top_of_page" id="test-config.top_of_page">config</refentrytitle>
<manvolnum>3</manvolnum>
<refmiscinfo>
  TEST Library
</refmiscinfo>
</refmeta>
<refnamediv>
<refname>config</refname>
<refpurpose></refpurpose>
</refnamediv>

<refsynopsisdiv id="test-config.synopsis" role="synopsis">
<title role="synopsis.title">Synopsis</title>

<synopsis>#define             <link linkend="glyr-VERSION-MAJOR">glyr_VERSION_MAJOR</link>
#define             <link linkend="glyr-VERSION-MINOR">glyr_VERSION_MINOR</link>
#define             <link linkend="glyr-VERSION-NAME">glyr_VERSION_NAME</link>
#define             <link linkend="glyr-USE-COLOR">glyr_USE_COLOR</link>
#define             <link linkend="glyr-DEBUG">glyr_DEBUG</link>
</synopsis>
</refsynopsisdiv>

<refsect1 id="test-config.description" role="desc">
<title role="desc.title">Description</title>
<para>
</para>
</refsect1>
<refsect1 id="test-config.details" role="details">
<title role="details.title">Details</title>
<refsect2 id="glyr-VERSION-MAJOR" role="macro">
<title>glyr_VERSION_MAJOR</title>
<indexterm zone="glyr-VERSION-MAJOR"><primary>glyr_VERSION_MAJOR</primary></indexterm>
<programlisting>#define glyr_VERSION_MAJOR "0"
</programlisting>
<para>
</para></refsect2>
<refsect2 id="glyr-VERSION-MINOR" role="macro">
<title>glyr_VERSION_MINOR</title>
<indexterm zone="glyr-VERSION-MINOR"><primary>glyr_VERSION_MINOR</primary></indexterm>
<programlisting>#define glyr_VERSION_MINOR "8.4"
</programlisting>
<para>
</para></refsect2>
<refsect2 id="glyr-VERSION-NAME" role="macro">
<title>glyr_VERSION_NAME</title>
<indexterm zone="glyr-VERSION-NAME"><primary>glyr_VERSION_NAME</primary></indexterm>
<programlisting>#define glyr_VERSION_NAME  "Horny Hornet [dev]"
</programlisting>
<para>
</para></refsect2>
<refsect2 id="glyr-USE-COLOR" role="macro">
<title>glyr_USE_COLOR</title>
<indexterm zone="glyr-USE-COLOR"><primary>glyr_USE_COLOR</primary></indexterm>
<programlisting>#define glyr_USE_COLOR     true
</programlisting>
<para>
</para></refsect2>
<refsect2 id="glyr-DEBUG" role="macro">
<title>glyr_DEBUG</title>
<indexterm zone="glyr-DEBUG"><primary>glyr_DEBUG</primary></indexterm>
<programlisting>#define glyr_DEBUG         true
</programlisting>
<para>
</para></refsect2>

</refsect1>

</refentry>
